<div class="py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <h2 class="text-black font-bold text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] -mt-5 md:-mt-10 lg:-mt-[12px] text-center mb-30 md:mb-40 lg:mb-50 md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug">
            Who We Are
        </h2>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-25">
            <div class="self-center relative 2xl:pr-15 2xl:pl-15 3xl:pr-50 3xl:pl-20 first:pl-0 before:right-0 before:top-0 before:bottom-0  before:bg-[#eeeeee] before:w-[1px] before:absolute last:before:hidden before:hidden lg:before:block">
                <div class="number leaidng-none font-bold text-[30px] md:text-[35px] lg:text-[40px] mb-[7px] md:mb-5 lg:mb-55 -mt-10 md:-mt-[12px] lg:-mt-15">
                    01
                </div>
                <h3 class="font-bold text-black text-[20px] md:text-[22px] md:text-[24px] mb-[7px] md:mb-[8px] lg:mb-15">
                    Critical Support System
                </h3>
                <p class="text-secondary leading-[1.8] text-[14px] md:text-[15px] lg:text-[16px]">
                    For Victims of Domestic Violence, We aim to be a first stop support sytem for how you can deal with your trauma and Heal
                </p>
            </div>
            <div class="self-center relative 2xl:pr-15 2xl:pl-15 3xl:pr-50 3xl:pl-20 first:pl-0 before:right-0 before:top-0 before:bottom-0  before:bg-[#eeeeee] before:w-[1px] before:absolute last:before:hidden before:hidden lg:before:block">
                <div class="number leaidng-none font-bold text-[30px] md:text-[35px] lg:text-[40px] mb-[7px] md:mb-5 lg:mb-55 -mt-10 md:-mt-[12px] lg:-mt-15">
                    02
                </div>
                <h3 class="font-bold text-black text-[20px] md:text-[22px] md:text-[24px] mb-[7px] md:mb-[8px] lg:mb-15">
                    Emotional Support Sytem
                </h3>
                <p class="text-secondary leading-[1.8] text-[14px] md:text-[15px] lg:text-[16px]">
                    Get Emotional Support and Learn how to deal with your trauma and heal. 
                </p>
            </div>
            <div class="self-center relative 2xl:pr-15 2xl:pl-15 3xl:pr-50 3xl:pl-20 first:pl-0 before:right-0 before:top-0 before:bottom-0  before:bg-[#eeeeee] before:w-[1px] before:absolute last:before:hidden before:hidden lg:before:block">
                <div class="number leaidng-none font-bold text-[30px] md:text-[35px] lg:text-[40px] mb-[7px] md:mb-5 lg:mb-55 -mt-10 md:-mt-[12px] lg:-mt-15">
                    03
                </div>
                <h3 class="font-bold text-black text-[20px] md:text-[22px] md:text-[24px] mb-[7px] md:mb-[8px] lg:mb-15">
                    Relocation Advocate
                </h3>
                <p class="text-secondary leading-[1.8] text-[14px] md:text-[15px] lg:text-[16px]">
                    Understand your options when it comes to housing and searching for a safe space. 
                </p>
            </div>
            <div class="self-center relative 2xl:pr-15 2xl:pl-15 3xl:pr-50 3xl:pl-20 first:pl-0 before:right-0 before:top-0 before:bottom-0  before:bg-[#eeeeee] before:w-[1px] before:absolute last:before:hidden before:hidden lg:before:block">
                <div class="number leaidng-none font-bold text-[30px] md:text-[35px] lg:text-[40px] mb-[7px] md:mb-5 lg:mb-55 -mt-10 md:-mt-[12px] lg:-mt-15">
                    04
                </div>
                <h3 class="font-bold text-black text-[20px] md:text-[22px] md:text-[24px] mb-[7px] md:mb-[8px] lg:mb-15">
                    Family Counselling
                </h3>
                <p class="text-secondary leading-[1.8] text-[14px] md:text-[15px] lg:text-[16px]">
                    Let us help you understand what your young ones are feeling, express their emotions and the steps on the journey to a healthy life.
                </p>
            </div>
        </div>
    </div>
</div>